@import '../../../node_modules/bootstrap/less/bootstrap.less';

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.container-component {
  .navigator {
    .nav-item {
      margin: 0;
      padding: 10px;
      border-top: 2px dashed #C5C5C5;
      color: #A8AF55;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
      background-color: #F2FFF8;
      a {
        text-decoration: none;
        color: #A8AF55;
      }
    }
    .nav-item:hover {
      background-color: #F5F5F5;
    }
  }
}
