@import '../../../node_modules/bootstrap/less/bootstrap.less';

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.navigation {
  padding: 0;
  .stage-navigation {
    .nav-item {
      border-bottom: 1px dashed #dddddd;
      padding: 5px;
      margin: 0;
      font-family: 'Oswald', sans-serif;
      font-size: 1.4em;
      color: #444444;
    }
  }

  .stage-header {
    .title {
      margin: 0;
    }
  }
}
